/*
  @about Modulr.css
  -----------------------------------------
  @desc: Pure Css Border Module
  @author: Alan Museljic
  @git: https://www.github/com/uloga/border
  @source: http://www.getmodulr.com/css/border
  ------------------------------------------------
  @uses: modulr/border/*
  @docs: true 
\-------------------------------------------------*/

/* __ borders __ */

.solid,
.border-solid{
  border-style: solid;
}
.dashed,
.border-dashed{
  border-style: dashed;
}
.dotted,
.border-dotted{
  border-style: dotted;
}
.double,
.border-double{
  border-style: double;
}

/* __ border size __ */

.border-1, .line.border-1,
.filter.border-1 > li > a{
  border-width: 1px;
}
.border-2, .line.border-2,
.filter.border-2 > li > a{
  border-width: 2px;
}
.border-3, .line.border-3,
.filter.border-3 > li > a{
  border-width: 3px;
}
.border-4, .line.border-4,
.filter.border-4 > li > a{
  border-width: 4px;
}
.border-5, .line.border-5,
.filter.border-5 > li > a{
  border-width: 5px;
}
.border-6, .line.border-6,
.filter.border-6 > li > a{
  border-width: 6px;
}

/* __ border position __*/

.border.top,
.border-top{
  border-right: 0;
  border-bottom: 0;
  border-left: 0;
}
.border.right,
.border-right{
  border-top: 0;
  border-bottom: 0;
  border-left: 0;
}
.border.bottom,
.border-bottom{
  border-top: 0;
  border-right: 0;
  border-left: 0;
}
.border.left,
.border-left{
  border-top: 0;
  border-right: 0;
  border-bottom: 0;
}
.border.horizontal,
.border-h{
  border-left: 0;
  border-right: 0;
}
.border.vertical,
.border-v{
  border-top: 0;
  border-bottom: 0;
}
.border.top,
.border.right,
.border.bottom,
.border.left,
.border-top,
.border-right,
.border-bottom,
.border-left{
  border-color: #e6e6e6;
}

/* __ remove borders __ */

.-border{
  border-width: 0 !important;
}
.-border-top{
  border-top-width: 0 !important;
}
.-border-right{
  border-right-width: 0 !important;
}
.-border-bottom{
  border-bottom-width: 0 !important;
}
.-border-left{
  border-left-width: 0 !important;
}
.-border-v{
  border-left-width: 0 !important;
  border-right-width: 0 !important;
}
.-border-h{
  border-top-width: 0 !important;
  border-bottom-width: 0 !important;
}